.main {
    margin: 30px;
    background-color: white;
}

body {
    background-color: #efefef;
}

.btn-success {
    margin: 15px;
    float: right;
}
.media-object{
    height: 40px;
    width: 40px;

}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;

}


.profile .section {
    margin-top: 30px;
}
.community-menu {
    color: #999;
    font-size: 13px;
    margin-bottom: 15px;
    display: block;
}

.media-body{
    padding-top: 10px;
}

.comment {
    margin: 10px 0;
}

.sub-comments {
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid #eeeeee;
    padding-top: 15px;
    margin-bottom: 15px;
}

.btn-comment {
    float: right;
    margin-bottom: 20px;
}

.comment-splite {
    margin-top: 0;
}

.menu {
    color: #999;
    margin-top: 5px;
}
.menu .icon {
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}

.menu .active {
    color: #499ef3;
}

.menu .icon:hover {
    color: #499ef3;
}

.comment-adjust {
    padding-top: 0;
}

.menu .comment-icon {
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-count {
    padding-top: 0;
    font-size: 18px;
}

.menu .comment-icon:hover {
    color: #499ef3;
}


.comments {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}

.tags {
    margin-right: 10px;
    margin-left: 0;
}
.tag {
    margin-right: 0;
}
.footer {
    padding: 10px 20%;
    color: #666;
}