.main {
    margin: 30px;
    background-color: white;
}

body {
    background-color: #efefef;
}

.btn-success {
    margin: 15px;
    float: right;
}
.media-object{
    height: 40px;
    width: 40px;

}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;

}


.profile .section {
    margin-top: 30px;
}
.community-menu {
    color: #999;
    font-size: 13px;
}

.media-body{
    padding-top: 10px;
}

.comment {
    margin: 10px 0px;
}

.btn-comment {
    float: right;
    margin-bottom: 20px;
}